* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Cabin', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif; }

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to top, white, #ca6c41); }
  .header1logo {
    height: 12rem;
    width: 12rem; }
  .headericon {
    margin-right: 0.5rem; }
  .header2h1 {
    font-size: 3rem;
    text-decoration: underline;
    transition: all 1s; }
    .header2h1:hover {
      transform: scale(1.2, 1.2); }
  .header3 {
    transition: all 0.8s; }
    .header3:hover {
      transform: scale(1.2, 1.2); }
    .header3button {
      color: black;
      background-color: white;
      font-size: 2rem;
      font-family: 'Cabin', sans-serif;
      font-family: 'Nunito Sans', sans-serif;
      font-family: 'Poppins', sans-serif;
      transition: all 0.8s; }
      .header3button:hover {
        background-color: #d88761;
        border: 2px solid white; }
    .header3a {
      font-size: 1.3rem;
      transition: all 0.6s; }
      .header3a:hover {
        background-color: #b85716;
        color: white; }

.main {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
  grid-template-areas: "principal aside"; }

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, white, #d88761); }
  .asideh4 {
    padding: 1rem; }
  .asidediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
    .asidedivcont {
      transition: all 0.8s; }
      .asidedivcont:hover {
        transform: scale(1.1, 1.1);
        color: green; }
  .asideimg {
    width: 12rem;
    height: 12rem; }
  .asideh5 {
    text-align: center;
    padding: 0.2rem; }

.principal {
  grid-area: principal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/imagenes/backgroundmain.jpeg);
  background-size: 100% 100%; }
  .principalh2 {
    text-align: center;
    padding: 1rem;
    color: white; }
  .principalh5 {
    color: black; }
  .principalp {
    color: black; }
  .principalimg1 {
    height: 40rem; }

#principalbutton {
  background-color: black; }
  #principalbutton2 {
    background-color: black; }

#carouselExampleCaptions {
  width: 35rem;
  border: black solid 1px; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  background-image: linear-gradient(to right, #afaeae, #464545); }
  .footercont1 {
    width: 35rem; }
    .footercont1p {
      font-size: 1.3rem; }
  .footercont2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footerul {
    list-style-type: none; }
    .footerulli {
      display: flex;
      gap: 0.5rem;
      font-size: 1.3rem; }
      .footerullii {
        margin-top: 0.2rem; }
  .footericon {
    font-size: 2rem;
    padding: 0.5rem;
    transition: all 1s; }
    .footericon:hover {
      transform: scale(1.1, 1.1);
      color: #d46e0f; }
