.main{

    &section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 5rem;
        padding: 10rem;
        background-image: linear-gradient(to right,rgba(178, 179, 182, 0.671), rgba(68, 62, 62, 0.616)),url(/imagenes/ambasmesas.jpg);
        background-size: 100% 100%;
    }

    &div{
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    &h3{
        color: white;
        background-color: black;
        padding: 2rem;
        border-radius: 1.5rem;
        font-size: 2.5rem;
        

        &1{
            @extend .mainh32;
        }

        &2{
            text-align: center;
        }
    }

    &img{
        height: 35rem;
    }

}

#carouselExampleCaptions{
    width: 30rem;
    border: 1px solid black;
}

.carouseltext{
    color: black;
}

.aside{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;

    &div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        padding: 3rem;

        &12{
            border-right: 1px black solid;
        }
    }

    &i{
        font-size: 4rem;
        transition: all 1s;

        &:hover{
            transform: scale(1.5,1.5);
        }
    }

    &h4{
        text-align: center;
    }

}

.muestras{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-image: linear-gradient(to right,rgba(178, 179, 182, 0.671), rgba(68, 62, 62, 0.616)),url(/imagenes/mesanegra3.jpg);
    background-size: 100% 100%;

        &img{
            height: 30rem;
        }

        &h3{
            text-align: center;
            background-color: white;
            margin: 1rem;
            padding: 0.1rem;
            border-radius: 2rem;
            transition: all 1s;

            &:hover{
                color: white;
                background-color: green;
            }
        }
    
}

#carouselExampleFade{
    max-width: 40rem;

}

#carouselExampleFade2{
    @extend #carouselExampleFade
}